.row {
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.col {
    padding: 0 16px;
}



@media screen and (min-width: 0) {
    .col {
        padding: 0;
    }
    .s-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 8.33333%;
        -ms-flex: 1 0 8.33333%;
            flex: 1 0 8.33333%;
    max-width: 8.33333%;
  }

  .s-2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 16.66667%;
        -ms-flex: 1 0 16.66667%;
            flex: 1 0 16.66667%;
    max-width: 16.66667%;
  }

  .s-3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 25%;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
    max-width: 25%;
  }

  .s-4 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 33.33333%;
        -ms-flex: 1 0 33.33333%;
            flex: 1 0 33.33333%;
    max-width: 33.33333%;
  }

  .s-5 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 41.66667%;
        -ms-flex: 1 0 41.66667%;
            flex: 1 0 41.66667%;
    max-width: 41.66667%;
  }

  .s-6 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    max-width: 50%;
  }

  .s-7 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 58.33333%;
        -ms-flex: 1 0 58.33333%;
            flex: 1 0 58.33333%;
    max-width: 58.33333%;
  }

  .s-8 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 66.66667%;
        -ms-flex: 1 0 66.66667%;
            flex: 1 0 66.66667%;
    max-width: 66.66667%;
  }

  .s-9 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 75%;
        -ms-flex: 1 0 75%;
            flex: 1 0 75%;
    max-width: 75%;
  }

  .s-10 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 83.33333%;
        -ms-flex: 1 0 83.33333%;
            flex: 1 0 83.33333%;
    max-width: 83.33333%;
  }

  .s-11 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 91.66667%;
        -ms-flex: 1 0 91.66667%;
            flex: 1 0 91.66667%;
    max-width: 91.66667%;
  }

  .s-12 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
  }
}




@media screen and (min-width: 40em) {
    .col {
        padding: 0 2vw;
    }
    .col:first-child {
        padding-left: 0;
    }
    .col:last-child {
        padding-right: 0;
    }
  .m-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 8.33333%;
        -ms-flex: 1 0 8.33333%;
            flex: 1 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 16.66667%;
        -ms-flex: 1 0 16.66667%;
            flex: 1 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 25%;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
    max-width: 25%;
  }

  .m-4 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 33.33333%;
        -ms-flex: 1 0 33.33333%;
            flex: 1 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 41.66667%;
        -ms-flex: 1 0 41.66667%;
            flex: 1 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    max-width: 50%;
  }

  .m-7 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 58.33333%;
        -ms-flex: 1 0 58.33333%;
            flex: 1 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-8 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 66.66667%;
        -ms-flex: 1 0 66.66667%;
            flex: 1 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 75%;
        -ms-flex: 1 0 75%;
            flex: 1 0 75%;
    max-width: 75%;
  }

  .m-10 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 83.33333%;
        -ms-flex: 1 0 83.33333%;
            flex: 1 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 91.66667%;
        -ms-flex: 1 0 91.66667%;
            flex: 1 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
  }
}





@media screen and (min-width: 60em) {
  
  .l-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 8.33333%;
        -ms-flex: 1 0 8.33333%;
            flex: 1 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 16.66667%;
        -ms-flex: 1 0 16.66667%;
            flex: 1 0 16.66667%;
    max-width: 16.66667%;
  }

  .l-3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 25%;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
    max-width: 25%;
  }

  .l-4 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 33.33333%;
        -ms-flex: 1 0 33.33333%;
            flex: 1 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 41.66667%;
        -ms-flex: 1 0 41.66667%;
            flex: 1 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    max-width: 50%;
  }

  .l-7 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 58.33333%;
        -ms-flex: 1 0 58.33333%;
            flex: 1 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-8 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 66.66667%;
        -ms-flex: 1 0 66.66667%;
            flex: 1 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 75%;
        -ms-flex: 1 0 75%;
            flex: 1 0 75%;
    max-width: 75%;
  }

  .l-10 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 83.33333%;
        -ms-flex: 1 0 83.33333%;
            flex: 1 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 91.66667%;
        -ms-flex: 1 0 91.66667%;
            flex: 1 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 100%;
  }
}