.monster {
    fill: #c6d382;
}

.monster__eye {
    animation: anim-monster-eye 0.9s infinite alternate;
}

.monster__eye-left {
    transform-origin: 217px 148px;
}
.monster__eye-right {
    transform-origin: 489px 148px;
}

.monster__jaw {
    animation: anim-monster-jaw 0.9s infinite alternate ;
}


/* keyframes kolli animatsiooniks */
@keyframes anim-monster-eye {
    0% {
        fill: rgba(255,0,0,1);
        transform: scale(0);
    }
    100% {
        fill: rgba(255,0,0,0);
        transform: scale(2.4);
    }
}

@keyframes anim-monster-jaw {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-30px);
    }
}