@import url("../css/top-bar.css");
@import url("../css/monster.css");
@import url("../css/hero.css");

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    margin:0; padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    
/*    background: url(/img/kolmnurk.svg);*/
/*    background-size: cover;*/
    
}

h1, h2, h3, h4 {
/*    font-family: 'Skranji', cursive;*/
    font-family: 'Days One', sans-serif;
    color: #284d5a;
    font-weight: 400;
}

h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}

figcaption {
    color: grey;
    font-size: 80%;
    font-style: italic;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33vh;
    margin-top: 7vh;
    background: hsl(240, 9%, 25%);
}
footer h2 {
    color: snow;
    text-transform: uppercase;
}


.col:last-of-type {
    border-top: 1px solid black;
    padding-top: 5vh;
    margin-top: 5vh;
}


.content {
    width: 90%;
    max-width: 64rem;   
}



.flexBoxes {
    display: flex;
    flex-wrap:wrap;
}

.flexBoxes__box {
    flex: 1 0 100%;
}

.flexBoxes__box h4 {
    vertical-align: baseline;
}

.flexBoxes__box h4:before {
    content:" ";
    display: inline-block;
    width:3rem;
    height:2rem;

    background: url('../img/koll-stiilidega.svg') no-repeat;
/*    background: url('/img/kolmnurk.svg');*/
    
    background-size: contain;
    vertical-align: baseline;
}


@media screen and (min-width: 640px) {
     .col:last-of-type {
        border-top: none;
/*        padding-top: 5vh;*/
        margin-top: none;
    }
}

@media screen and (min-width: 860px) {
    .flexBoxes__box {
        flex: 1 0 50%;
    }
}




