@import url("/css/koll.css");

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    margin:0; padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

h1, h2, h3, h4 {
    font-family: 'Skranji', cursive;
    color: #006064;
}

h2 {
    font-size: 2.4rem;
    text-align: center;
}

.menu {
    display: flex;
    flex-wrap:nowrap;
    position: fixed;
    top:0; left:0;
    background: hsl(240, 9%, 25%);
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.7);
    z-index: 10;
}

.menu .menu-item {
    display: none; 
    color: snow;
    padding: 1.5vh 2vw;
    text-decoration: none;
     text-transform: uppercase; 
    border-bottom: 3px solid hsla(39, 100%, 50%, 0);
    transition: all 1s ease;
}

.menu .menu-item:hover {
    background: hsl(200, 59%, 40%);
    border-bottom: 3px solid hsla(39, 100%, 50%, 1);
    transition: all 0.5s ease;
}

.menu .menu-small {
    display: block;
    margin-left: auto;
}

.menu .menu-small__close {
    display: none;
    font-size: 2.5rem;
    position: absolute;
    top:1.5vh; right: 3vw;
    color: snow;
    text-decoration: none;
    line-height: 1;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100vh;
    background-color: hsl(196, 63%, 38%);
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, rgba(255,255,255,0.1) 15px, rgba(255,255,255,0.1) 30px);
    animation: anim-hero--bg 15s infinite;
}
.hero-heading {
    color: white;
    font-size: 2.2rem;
    margin: 0;
    line-height: 1;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}

.hero .logo {
    max-height: 55vh;
    fill: #fff;
    transition: fill 1s ease;
}

.hero .logo:hover {
    fill: black;
    transition: fill 1s ease;
}


.hero .logo .korvad {
    display: none;
}





.content {
    width: 90%;
    max-width: 64rem;
    
}





/* keyframes */


@keyframes anim-hero--bg{
    0% {
        background-color: hsl(0, 63%, 38%);
    }
    25% {
        background-color: hsl(90, 63%, 38%);
    }
    50% {
        background-color: hsl(181, 63%, 38%);
    }
    75% {
        background-color: hsl(270, 63%, 38%);
    }
    100% {
        background-color: hsl(359, 63%, 38%);
    }
}






/* media queries */
@media screen and (min-width: 640px) {
    .hero .logo .korvad {
        display: block;
    }
    
    .hero-heading {
        font-size: 4.6rem;
    }
    
    .menu .menu-item {
        display: block;   
    }
    
    .menu .menu-small {
        display: none;
    }
    .menu .menu-small__close{
        display: none;
    }
}





figcaption {
    color: grey;
    font-size: 80%;
    font-style: italic;
    text-align: center;
}


#showMenu:target.menu {
    flex-direction: column;
    padding-bottom: 2vh;
}
#showMenu:target .menu-item {
    display: block;
    text-align: center;
}
#showMenu:target .menu-item:first-of-type {
    margin-top: 3rem;
}

#showMenu:target .menu-small {
    display: none;
}
#showMenu:target .menu-small__close {
    display: block;
}
